<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <a class="navbar-brand" href="#">Salamantex</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="activeButton=0"  [ngClass]="activeButton===0?'button-active':''"
           routerLink="/users-list">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="activeButton=1"  [ngClass]="activeButton===1?'button-active':''"
           routerLink="/transactions-list">Transactions</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>



