nav {
  background-color: #10395E !important;

  a {
    color: white;
    font-size: 30px;
    font-weight: Bold;
    font-family: "Lucida Grande";
  }

  .navbar-collapse {
    margin-right: 10%;

    li {
      margin: 0 5%;
    }

    .nav-link {
      color: white;
      font-size: 20px;
      font-family: "Comic Sans MS";
    }
  }
  .button-active{
    background: orange;
    border-radius: 10px;

  }

}
