
<h1 style="font-size: 25px;color: orange;
    display: flex;
    justify-content: center;
    margin-top: 10px;">User List</h1>

<table style = "width: 100%;" mat-table [dataSource] = "userList" class = "mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef = "name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef = "let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef = "email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef = "let element"> {{element.email}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef = "wallet">
    <th mat-header-cell *matHeaderCellDef> Wallet</th>
    <td mat-cell *matCellDef = "let element"> {{element?.wallet[0]?.name + ', ' + element?.wallet[1]?.name}} </td>

  </ng-container>

  <ng-container matColumnDef = "max">
    <th mat-header-cell *matHeaderCellDef> Max Amount</th>
    <td mat-cell *matCellDef = "let element"> {{element.max}} </td>
  </ng-container>

  <ng-container matColumnDef = "action">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef = "let element" >
      <mat-icon class = "action-icon"
                routerLink = "/users-list/{{element.id}}/edit"
                matTooltip = "Edit"
                matTooltipPosition = "below">
        edit
      </mat-icon>
      <mat-icon class = "action-icon"
                routerLink = "/users-list/{{element.id}}/detail"
                matTooltip = "Detail"
                matTooltipPosition = "below">
        feedback
      </mat-icon>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
  <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
</table>
